@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Hello, @ViewBag.Hora Nahuel (from the view)
        <a asp-action="Rsvp">Entrar a formulario Aquí</a>
    </div>
</body>
</html>
